@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.alt-section .thumb-container .thumb-unit:hover .thumb-overlay {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/z8MJqS */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.391, 0.112, 0, 0, 0.073, 0.391, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.514, 0.17, 0, 0, 0.111, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.717, 0.258, 0, 0, 0.168, 0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.879, 0.295, 0, 0, 0.193, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0.237, 0, 0, 0.157, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.052, 0.232, 0, 0, 0.153, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.093, 0.117, 0, 0, 0.078, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.089, 0.079, 0, 0, 0.053, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, -0.001, 0, 0, -0.001, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, -0.014, 0, 0, -0.009, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, -0.017, 0, 0, -0.011, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, -0.008, 0, 0, -0.006, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.loader {
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: #40a6ff;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

header nav a, header .kicker, footer .content-wrap a, h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  height: 100vh;
  background: url(../img/bg.jpg) center center;
  background-size: cover;
}

header .logo {
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px 0 0 30px;
}

header .logo path {
  fill: rgba(0, 0, 0, 0.7);
}

header nav {
  float: right;
  margin: 30px 30px 0 0;
}

header nav a {
  display: inline-block;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.7);
}

header nav a:hover {
  color: black;
}

header h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: #3E5358;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
}

header h1 span {
  display: inline-block;
  padding: 0.5em;
  border: #3E5358 solid 10px;
}

header .kicker {
  text-align: center;
  color: #3E5358;
  letter-spacing: 0.05em;
}

footer {
  background: url(../img/bg.jpg) center center;
  background-size: cover;
}

footer .lock-up {
  padding: 50px 30px;
}

footer .lock-up::after {
  clear: both;
  content: "";
  display: table;
}

footer .lock-up .logo {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 30px;
}

footer .lock-up .logo path {
  fill: rgba(0, 0, 0, 0.7);
}

footer .content-wrap {
  text-align: center;
  padding-bottom: 100px;
}

footer .content-wrap a {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-right: 30px;
}

footer .content-wrap a:hover {
  color: black;
}

footer .content-wrap .copyright {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

h3 {
  color: #4c8a8c;
  text-align: center;
  padding: 100px 0 30px;
}

.face-lockup {
  max-width: 780px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.face-lockup .face-img {
  height: 200px;
  width: 200px;
  repeat: no-repeat;
  background: url(/assets/img/avatar2.jpg) center no-repeat;
  order: 3;
}

.face-lockup [class^="icon-"] {
  height: 100px;
  width: 100px;
  background: #95a057;
  border-radius: 50%;
}

.face-lockup [class^="icon-"] path {
  fill: #395354;
}

.face-lockup [class^="icon-"].icon-browser {
  order: 1;
}

.face-lockup [class^="icon-"].icon-mouse {
  order: 2;
}

.face-lockup [class^="icon-"].icon-pencil {
  order: 4;
}

.face-lockup [class^="icon-"].icon-video {
  order: 5;
}

@media screen and (max-width: 650px) {
  .face-lockup .face-lockup {
    display: block;
    text-align: center;
  }
  .face-lockup .face-lockup div {
    display: inline-block;
  }
  .face-lockup .face-lockup .face-img {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    margin-bottom: 30px;
  }
  .face-lockup .face-lockup .face-img [class^="icon-"] {
    margin: 10px;
  }
}

.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.skill-lockup {
  max-width: 700px;
  margin: 50px auto;
  color: #999;
}

.skill-lockup::after {
  clear: both;
  content: "";
  display: table;
}

.skill-lockup .skill-unit {
  width: 350px;
  float: left;
}

.skill-lockup .skill-unit .skill-icons {
  font-size: 0;
  margin-bottom: 30px;
}

.skill-lockup .skill-unit .skill-icons span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #395354;
  margin-right: 5px;
  border-radius: 50%;
}

.skill-lockup .skill-unit .skill-icons span:after {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 2px;
}

.skill-lockup .skill-unit .skill-icons.skill-1 span:nth-child(n+2) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-2 span:nth-child(n+3) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-3 span:nth-child(n+4) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-4 span:nth-child(n+5) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-5 span:nth-child(n+6) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-6 span:nth-child(n+7) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-7 span:nth-child(n+8) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-8 span:nth-child(n+9) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-9 span:nth-child(n+10) {
  background: #95a057;
}

.skill-lockup .skill-unit .skill-icons.skill-10 span:nth-child(n+11) {
  background: #95a057;
}

@media screen and (max-width: 541px) {
  .skill-lockup .skill-lockup {
    width: 270px;
  }
}

.section-work {
  overflow-x: hidden;
}

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  -webkit-transition: all, 800ms;
  -moz-transition: all, 800ms;
  transition: all, 800ms;
}

.work-belt.slided {
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left;
}

.alt-section {
  background: #95a057;
  opacity: 0.9;
}

.alt-section .thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding: 10px 0px 100px 150px;
}

.alt-section .thumb-container::after {
  clear: both;
  content: "";
  display: table;
}

.alt-section .thumb-container .thumb-unit {
  display: block;
  width: 25%;
  float: left;
  position: relative;
  padding-top: 16%;
  padding-right: 30px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 540px) {
  .alt-section .thumb-container .thumb-unit {
    width: 50%;
  }
}

.alt-section .thumb-container .thumb-unit .thumb-overlay {
  position: absolute;
  top: 0%;
  right: 0px;
  left: 0px;
  height: 100%;
  background: rgba(57, 83, 84, 0.9);
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -o-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.alt-section .thumb-container .thumb-unit .thumb-overlay strong {
  padding: 20px;
  display: block;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

.alt-section .thumb-container .thumb-unit:hover {
  z-index: 2;
}

.alt-section .thumb-container .thumb-unit:hover .thumb-overlay {
  opacity: 1;
}

.alt-section .work-container {
  max-width: 600px;
  margin: 0px auto;
  position: relative;
  display: none;
}

.alt-section .work-container h4 {
  color: #395354;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 60px;
}

.alt-section .work-container img {
  max-width: 100%;
  margin-bottom: 20px;
}

.alt-section .work-container .work-return {
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: -10px;
}

.alt-section .work-container .work-return path {
  fill: rgba(0, 0, 0, 0.4);
}

.alt-section .work-container .work-return:hover {
  opacity: 1;
}

@media (max-width: 740px) {
  .alt-section .work-container .work-return {
    left: 0px;
  }
  .alt-section .work-container h4 {
    margin-left: 60px;
  }
}

.section-contact {
  text-align: center;
}

.social-links {
  max-width: 700px;
  margin: 0px auto 50px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.social-links a {
  display: block;
  background: #395354;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 28px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.social-links a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.bar {
  width: 250px;
  height: 0px;
  border-top: 4px solid #395354;
  margin: 0px auto 70px;
}

.big-link {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  color: #395354;
}

form {
  max-width: 450px;
  margin: 0 auto 50px;
}

form input, form textarea {
  border: 3px solid #395354;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

form input:focus, form textarea:focus {
  outline: none;
  border-color: #4c8a8c;
}

form .submit-wrap {
  text-align: right;
}

form [type="submit"] {
  background: #395354;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  width: 33%;
}

form [type="submit"]:hover {
  background: #4c8a8c;
}

form textarea {
  height: 10em;
}

form .contact-info-group .text-info {
  width: 50%;
  padding-right: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form .contact-info-group .text-info:nth-child(1) {
  padding-right: 5px;
}

form .contact-info-group .text-info:nth-child(2) {
  padding-right: 2px;
}

form .text-info {
  display: block;
  margin-bottom: 20px;
}
